@media (min-width: 992px) {

  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-nav {
    padding: 10px 0 10px 25px;
    flex-direction: row;
    width: 100%;
  }

  .bg-color {
    background-color: #fff;
  }

  .nav-link {
    margin-right: 25px;
    color: #adb5bd;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 400;
  }

  a:hover {
    color: #087990;
    cursor: pointer;
  }

  .left-menu {
    margin-right: auto !important;
  }

  .right-menu {
    display: flex !important;
    /* text-align: right; */
  }

  .banner {
    background-image: url("../images/lodging.png");
    background-size: cover;
    height: 500px;
  }

  .banner-content {
    position: relative;
    color: #fff;
    top: 150px;
    left: 30px;
  }

  .banner-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 250%;
  }

  .banner-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }

  .main {
    background-color: #dee2e6;
  }

  .guide {
    padding: 30px;
  }

  .guide-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 250%;
  }

  .guide-description {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #495057;
  }

  .pictures {
    margin: 0;
    padding-bottom: 30px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .cities {
    margin: 0;
    padding: 0;
  }

  .invite {
    margin: 0;
    padding: 0;
  }

  .pic {
    padding-right: 0;
  }

  .city-image {
    width: 100%;
  }

  .invite-image {
    width: 100%;
  }

  .footer {
    margin-left: 0;
    margin-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e9ecef;
  }

  .footer ~ p {
    margin: 0;
  }

  .footer-post {
    background-color: #e9ecef;
    padding-left: 30px;
    padding-right: 30px;
  }

  .post-title {
    font-family: 'Nunito', serif;
    font-weight: 700;
  }

  .post-description {
    font-family: 'Roboto Condensed', sans-serif;
  }

  .post-link {
    color: #39A2DB;
  }
}
